@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-regular.woff2') format('woff2'),
		url('../fonts/opensans-regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-semibold.woff2') format('woff2'),
		url('../fonts/opensans-semibold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-bold.woff2') format('woff2'),
		url('../fonts/opensans-bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  color: #9D5CD0;
  text-decoration: none;
}

.btn_img {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.header {
  color: #fff;
}

.header__top {
  background-color: #000;
}

.header__top__container {
  display: flex;
  align-items: center;
  padding: 28px 20px;
}

.logo {
  display: block;
  margin-right: 180px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}

.entry {
  margin-left: auto;
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  background-image: url(../img/entry.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom__container {
  display: flex;
  align-items: center;
  padding: 23px 20px 21px 20px;
}

.style-menu {
  display: flex;
}

.style-menu__item {
  position: relative;
  max-height: 25px;
  padding-right: 14px;
  background-image: url(../img/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: 100% 60%;
}

.style-menu__item:not(:last-child) {
  margin-right: 97px;
}

.style-menu__btn {
  padding: 0;
  color: #fff;
  font-size: 18px;
  line-height: 25px;  
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.style-menu__btn:active,
.style-menu__btn:focus {
  outline: none;
}

.style-menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}

.style-menu__submenu {
  position: absolute;
  top: 184%;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: opacity;
  -webkit-transition: .6s ease-in;
}

.style-menu__submenu_is-active {
  visibility: visible;
  opacity: 1;
}

.style-menu__item:hover .style-menu__submenu {
  visibility: visible;
  opacity: 1;
}

.style-menu__submenu__item {
  width: 220px;
  padding: 10px 14px;
}

.style-menu__submenu__item:not(:last-child) {
  margin-bottom: 20px;
}

.style-menu__submenu__item_tintoretto {
  background-image: url(../img/dropdown-realism-tintoretto.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_frederick {
  background-image: url(../img/dropdown-realism-frederick.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_leonardo {
  background-image: url(../img/dropdown-realism-leonardo.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_verrocchio {
  background-image: url(../img/dropdown-realism-verrocchio.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_monet {
  background-image: url(../img/dropdown-impressionism-monet.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_sisley {
  background-image: url(../img/dropdown-impressionism-sisley.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_mane {
  background-image: url(../img/dropdown-impressionism-mane.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_renoir {
  background-image: url(../img/dropdown-impressionism-renoir.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_vanGogh {
  background-image: url(../img/dropdown-postImpressionism-vanGogh.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_cezanne {
  background-image: url(../img/dropdown-postImpressionism-cezanne.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_gauguin {
  background-image: url(../img/dropdown-postImpressionism-gauguin.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_seurat {
  background-image: url(../img/dropdown-postImpressionism-seurat.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_kandinsky {
  background-image: url(../img/dropdown-avantGarde-kandinsky.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_marinetti {
  background-image: url(../img/dropdown-avantGarde-marinetti.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_malevich {
  background-image: url(../img/dropdown-avantGarde-malevich.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_picasso {
  background-image: url(../img/dropdown-avantGarde-picasso.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_carra {
  background-image: url(../img/dropdown-futurism-carra.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_pratella {
  background-image: url(../img/dropdown-futurism-pratella.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_severini {
  background-image: url(../img/dropdown-futurism-severini.png);
  background-repeat: no-repeat;
}

.style-menu__submenu__item_balla {
  background-image: url(../img/dropdown-futurism-balla.png);
  background-repeat: no-repeat;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.search__btn_img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.search__input {
  min-width: 218px;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  background: transparent;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.85) solid 1px;
}

.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}