@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-regular.woff2') format('woff2'),
		url('../fonts/opensans-regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-semibold.woff2') format('woff2'),
		url('../fonts/opensans-semibold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-bold.woff2') format('woff2'),
		url('../fonts/opensans-bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  color: #9D5CD0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-offset: 4px;
  transition: color .5s ease-in-out;
  outline-color: #7943A4;
  outline-width: 2px;
}

.link:focus:not(:focus-visible) {
  outline: 0;
}

.link:focus-visible {
  outline: #7943A4 solid 2px;
}

.link:hover {
  color: #C283F3;
}

.link:active {
  color: #7943A4;
}

.link_img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link_img:focus:not(:focus-visible) {
  outline: 0;
}

.link_img:focus-visible {
  outline: #7943A4 solid 2px;
  outline-offset: 4px;
}

.btn {
  transition: color .5s ease-in-out;
  outline-offset: 4px;
  outline-color: #7943A4;
  outline-width: 2px;
  cursor: pointer;
}

.btn:hover {
  color: #C283F3;
}

.btn:active {
  color: #7943A4;
}

.btn:focus:not(:focus-visible) {
  outline: 0;
}

.btn:focus-visible {
  outline: #7943A4 solid 2px;
}

.btn_img {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline-color: #7943A4;
  outline-width: 2px;
  outline-offset: 4px;
}

.btn_img:focus:not(:focus-visible) {
  outline: 0;
}

.btn_img:focus-visible {
  outline: #7943A4 solid 2px;
}

.input {
  border: none;
  outline: none;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder  {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder  {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder  {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder    {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder  {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.header {
  position: relative;
  color: #fff;
}

.header__top {
  background-color: #000;
}

.header__container_top {
  display: flex;
  align-items: center;
  padding: 28px 20px;
}

.logo {
  display: block;
  margin-right: 180px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}

.entry {
  margin-left: auto;
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  background-image: url(../img/entry.svg);
  background-repeat: no-repeat;
  background-position: left center;
  transition: color, background-image .2s ease-in-out;
}

.entry:hover {
  background-image: url(../img/entry-hover.svg);
}

.entry:active {
  color: #9D5CD0;
  background-image: url(../img/entry-active.svg);
}

.header__bottom {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__container_bottom {
  display: flex;
  align-items: center;
  padding: 23px 19px 21px 13px;
}

.style-menu {
  display: flex;
}

.style-menu__item {
  position: relative;
}

.style-menu__item:not(:last-child) {
  margin-right: 92px;
}

.style-menu__item:nth-child(3) {
  margin-right: 95px;
}

.style-menu__item:nth-child(4) {
  margin-right: 94px;
}

.style-menu__btn {
  padding-right: 14px;
  font-size: 18px;
  line-height: 25px;  
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: right center;
  transition-property: color, background-image, background-position;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.style-menu__btn_no-active {
  color: #fff;
  background-image: url(../img/icon-arrow.svg);
}

.style-menu__btn_active {
  color: #7943A4;
  background-image: url(../img/icon-arrow-active.svg);
  background-position: 100% 75%;
}

.style-menu__btn_active:hover {
  color: #7943A4;
  background-image: url(../img/icon-arrow-active.svg);
}

.style-menu__btn_no-active:hover {
  color: #9D5CD0;
  background-image: url(../img/icon-arrow-hover.svg);
}

.style-menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}

.submenu {
  position: absolute;
  top: 178%;
  padding: 40px 20px 40px 40px;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: opacity;
  -webkit-transition: 1s ease-in-out;
}

.submenu_is-active {
  visibility: visible;
  opacity: 1;
}

.style-menu__submenu {
  width: 240px;
  height: 220px;
}

.submenu__item:not(:last-child) {
  margin-bottom: 20px;
}

.submenu__link {
  display: block;
  width: 220px;
  height: 40px;
  padding: 10px 14px;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  border: 2px solid rgba(0, 0, 0, 0); 
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-tap-highlight-color: rgba(194, 131, 243, 0.4);
  transition: border .5s ease-in-out;
}

.submenu__link:hover {
  color: #fff;
  border: 2px solid #9D5CD0;
}

.submenu__link:focus {
  color: #fff;
  border: 2px solid #9D5CD0;  
  outline: none;
}

.submenu__link:active {
  color: #fff;
  border: 2px solid #D1A9F0;
}

.submenu__link_tintoretto {
  background-image: url(../img/dropdown-realism-tintoretto.png);
}

.submenu__link_frederick {
  background-image: url(../img/dropdown-realism-frederick.png);
}

.submenu__link_leonardo {
  background-image: url(../img/dropdown-realism-leonardo.png);
}

.submenu__link_verrocchio {
  background-image: url(../img/dropdown-realism-verrocchio.png);
}

.submenu__link_monet {
  background-image: url(../img/dropdown-impressionism-monet.png);
}

.submenu__link_sisley {
  background-image: url(../img/dropdown-impressionism-sisley.png);
}

.submenu__link_mane {
  background-image: url(../img/dropdown-impressionism-mane.png);
}

.submenu__link_renoir {
  background-image: url(../img/dropdown-impressionism-renoir.png);
}

.submenu__link_vanGogh {
  background-image: url(../img/dropdown-postImpressionism-vanGogh.png);
}

.submenu__link_cezanne {
  background-image: url(../img/dropdown-postImpressionism-cezanne.png);
}

.submenu__link_gauguin {
  background-image: url(../img/dropdown-postImpressionism-gauguin.png);
}

.submenu__link_seurat {
  background-image: url(../img/dropdown-postImpressionism-seurat.png);
}

.submenu__link_kandinsky {
  background-image: url(../img/dropdown-avantGarde-kandinsky.png);
}

.submenu__link_marinetti {
  background-image: url(../img/dropdown-avantGarde-marinetti.png);
}

.submenu__link_malevich {
  background-image: url(../img/dropdown-avantGarde-malevich.png);
}

.submenu__link_picasso {
  background-image: url(../img/dropdown-avantGarde-picasso.png);
}

.submenu__link_carra {
  background-image: url(../img/dropdown-futurism-carra.png);
}

.submenu__link_pratella {
  background-image: url(../img/dropdown-futurism-pratella.png);
}

.submenu__link_severini {
  background-image: url(../img/dropdown-futurism-severini.png);
}

.submenu__link_balla {
  background-image: url(../img/dropdown-futurism-balla.png);
}

.simplebar-content-wrapper {
  padding-right: 20px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: #fff;
  border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
  background-color: #9D5CD0;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.search:hover .search__btn {
  background-image: url(../img/search-hover.svg);
}

.search:hover .search__input {
  border-color: #C283F3;
}

.search__btn {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-image .5s ease-in-out;
}

.search__label {
  display: flex;
  align-items: center;
}

.search__input {
  min-width: 218px;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  background: transparent;
  border-bottom: rgba(255, 255, 255, 0.85) solid 1px;
  caret-color: #C283F3;
  transition: color .5s ease-in-out;
}

.search__input:focus {
  border-color: #C283F3;
}

.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.hero-block {
  background-image: url(../img/birmingham-museums-trust-1920.jpg);
  background-repeat: no-repeat;
  animation: pulsing 80s infinite linear;
}

  @keyframes pulsing {
    0% {
      background-size: 100%;
    }

    50% {
      background-size: 150%;
    }

    100% {
      background-size: 100%;
    }
  }

.container_hero-block {
  padding: 135px 0 120px 20px;
}

.hero-block__title {
  max-width: 35%;
  margin: 0;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
}

.hero-block__text {
  max-width: 35%;
  margin-bottom: 92px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero-block__btn {
  position: relative;
  padding: 22px 35px;
  border: #9D5CD0 solid 3px;
  border-radius: 100px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #9D5CD0;
  outline: none;
  transition-property: border, background-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.hero-block__btn:hover {
  color: #fff;
  border-color: #D1A9F0;
}


.hero-block__btn:focus-visible::after {
  content: " ";
  position: absolute;
  width: 324px;
  height: 79px;
  display: block;
  top: 0;
  left: -2.3%;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.hero-block__btn:active {
  color: #fff;
  border-color: #D1A9F0;
  background-color: #7943A4;
}

.container_about-us {
  padding: 80px 160px 70px 20px;
}

.about-us__title {
  margin-bottom: 15px;
}

.about-us__text {
  max-width: 74%;
}

.gallery {
  background-image: url(../img/gallery-background-1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container_gallery {
  display: flex;
  padding: 80px 0 80px 20px;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  max-width: 24.7%;
  margin-right: 50px;
}

.gallery__title {
  margin-bottom: 16px;
  color: #fff;
}

.gallery__select-text {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
  line-height: 32px;
}

.choices {
  margin-bottom: auto;
  transition: background-color .5s ease-in-out;
}

.choices[data-type*=select-one]::after {
  width: 10px;
  height: 5px;
  border-style: none;
  background-image: url(../img/icon-arrow-select-close.svg);
  background-position: center;
}

.choices[data-type*=select-one].is-open::after {
  top: 60%;
  width: 10px;
  height: 5px;
  border-style: none;
  background-image: url(../img/icon-arrow-select-open.svg);
  background-position: center;
}

.choices.is-focused {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner {
  min-height: auto;
  padding: 5px 15px 15px 10px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s ease-in-out;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__inner {
  min-height: auto;
  padding: 5px 15px 15px 10px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.choices__list--dropdown {
  color: #999;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.is-open .choices__list--dropdown {
  color: #999;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}


.is-selected {
  display: none;
}

.choices__item--choice {
  border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item--selectable {
  transition-property: color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: #FFF;
  background: rgba(255, 255, 255, 0.2);
}

.choices__item .choices__item--choice .is-selected .choices__item--selectable {
  display: none !important;
}

.gallery__text {
  color: #fff;
  font-weight: 600;
  line-height: 32px;
}

.gallery__link {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition-property: color, border-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.gallery__link:hover {
  color: #9D5CD0;
  border-color:#9D5CD0;
} 

.gallery__link:active {
  color: #7943A4;
  border-color:#7943A4;
}

.gallery__slider {
  padding-top: 22px;
}

.swiper {
  width: 1150px;
  height: 810px;
}

.swiper-scrollbar {
  display: none;
}

.slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}

.slider__item {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
}

.slider__item:active {
  position: relative;
  /* border-color:#D1A9F0; */
}

.slider__item:nth-child(-n+4) {
  margin-bottom: 43px;
}

.slider__item::after {
  content: ' ';
  position: absolute;
  width: 300px;
  height: 300px;
  top: 7%;
  left: 7%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s ease-in-out;
}

.slider__item:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.slider__item:before {
  content: url(../img/loupe.svg);
  position: absolute;
  top: 35%;
  left: 38%;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

.slider__item:hover:before {
  opacity: 1;
  cursor: pointer;
}

.slider__item:active:before {
  content: ' ';
  position: absolute;
  display: inline-block;
  height: 348px;
  width: 348px;
  top: 0%;
  left: 0%;
  z-index: 1;
  border: 2px solid #D1A9F0;
  text-align: center;
  background-color: rgba(194, 131, 243, 0.4);
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
  background-position: 49% 45%;
}

.gallery__img {
  width: 350px;
  height: 350px;
}

.swiper-button-prev {
  width: 30px;
  height: 30px;
  top: 3%;
  left: 0.2%;
  background-color: #666;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0);
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.swiper-button-prev:hover {
  background-color: #9D5CD0;
}

.swiper-button-prev:active {
  background-color: #7943A4;
  border-color: #000;
}

.swiper-button-prev::after {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 40%;
  top: 30%;
  color: #fff;
  font-size: 10px;
}

.swiper-button-next {
  width: 30px;
  height: 30px;
  top: 3%;
  left: 9%;
  background-color: #666;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0);
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.swiper-button-next:hover {
  background-color: #9D5CD0;
}

.swiper-button-next:active {
  background-color: #7943A4;
  border-color: #000;
}

.swiper-button-next::after {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 45%;
  top: 30%;
  color: #fff;
  font-size: 10px;
}

.swiper-pagination-fraction {
  top: 0.2%;
  left: 3.8%;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.container_catalog {
  padding: 83px 20px;
}

.title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.catalog__title {
  margin-right: 39px;
}

.catalog__list-btn {
  display: flex;
  flex-direction: row;
}

.catalog__item-btn {
  margin-right: 50px;
  padding-top: 10px;
}

.catalog__btn {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  background-size: cover;
  box-shadow: 0px 0px 20px rgba(157, 92, 208, 0);
  cursor: pointer;
  transition: box-shadow .5s ease-in-out;
}

.catalog__btn::after {
  content: " ";
  position: absolute;
  width: 66px;
  height: 66px;
  display: block;
  top: -27%;
  right: -28%;
  text-align: center;
  border: 2px solid rgba(255, 255, 128, 0);
  border-radius: 100px;
  outline: none;
  transition-property: border-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.catalog__btn:hover {
  box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
}

.catalog__btn:focus {
  outline: none;
  box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
}

.catalog__btn:active {
  border: 2px solid #7943A4;
}

.catalog__btn__is-active:active {
  border: none;
}

.catalog__btn__is-active::after {
  border-color: #C283F3;
}

.btn_france {
  background-image: url(../img/btn-france.png);
}

.btn_germany {
  background-image: url(../img/btn-germany.png);
}

.btn_italy {
  background-image: url(../img/btn-italy.png);
}

.btn_russia {
  background-image: url(../img/btn-russia.png);
}

.btn_belgium {
  background-image: url(../img/btn-belgium.png);
}

.catalog__text {
  max-width: 68%;
  margin-bottom: 38px;
}

.catalog__content {
  display: flex;
}

.catalog__accordion-content {
  max-width: 47%;
  margin-right: 50px;
}

.catalog__img {
  margin-bottom: 30px;
}

.accordion-content__title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.accordion-content__date {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.accordion-content__text {
  font-size: 16px;
  line-height: 32px;
}

.catalog__accordion {
  width: 100%;
}

.accordion__title {
  margin: -1px -1px 0 0 !important;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-right: none;
  border-left: none;
  border-radius: 0;
  transition-property: border, background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.ui-accordion .ui-accordion-header{
  padding: 44px 0 35px 0;
}

.ui-state-default {
  background-color: rgba(0, 0, 0, 0);
}

.ui-state-active {
  border-color: #7943A4;
  color: #7943A4;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  overflow: hidden;
}

.ui-icon {
  float: right;
  width: 50px;
  height: 50px;
  background-image: url(../img/btn-close.png);
  background-position: center center;
  transition: background-image .5s ease-in-out;
}

.ui-state-hover {
  color: #9D5CD0;
  border-color: #9D5CD0;
}

.ui-state-focus {
  outline: none;
}

.accordion__title__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.ui-state-focus .accordion__title__text {
  color: #fff;
  background-color: #9D5CD0;
}

.ui-state-hover .ui-icon {
  background-image: url(../img/btn-close-hover.png);
}

.ui-state-active .ui-icon {
  background-image: url(../img/btn-open.png);
}

.ui-state-focus .ui-icon {
  background-image: url(../img/btn-close-hover.png);
}

.accordion__content {
  height: auto !important;
  border: none;
}

.accordion__list {
  padding: 28px 0;
  columns: 3;
}

.accordion__btn {
  padding: 0;
  font-size: 16px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}