@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-regular.woff2') format('woff2'),
		url('../fonts/opensans-regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-semibold.woff2') format('woff2'),
		url('../fonts/opensans-semibold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-bold.woff2') format('woff2'),
		url('../fonts/opensans-bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  color: #9D5CD0;
  text-decoration: none;
}

.btn_img {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.header {
  color: #fff;
}

.header__top {
  background-color: #000;
}

.header__top__container {
  display: flex;
  align-items: center;
  padding: 28px 20px;
}

.logo {
  display: block;
  margin-right: 180px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}

.entry {
  margin-left: auto;
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  background-image: url(../img/entry.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom__container {
  display: flex;
  align-items: center;
  padding: 23px 20px 21px 20px;
}

.styleMenu {
  display: flex;
}

.styleMenu__item {
  padding-right: 14px;
  background-image: url(../img/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: 100% 60%;
}

.styleMenu__item:not(:last-child) {
  margin-right: 97px;
}

.styleMenu__link {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.btn_img_search {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.search__input {
  min-width: 218px;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  background: transparent;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.85) solid 1px;
}

.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}